body {
background:rgb(0,0,0);
}

div.header {
color:rgb(225,225,225);
}

a.light,a.light:visited {
color:rgb(220,220,220);
}

a.light:hover,a.light:active {
background:rgb(225,225,225);
border:1px solid rgb(225,225,225);
color:rgb(30,30,30);
}

a.dark,a.dark:visited {
color:rgb(220,220,220);
}

a.dark:hover,a.dark:active {
background:rgb(30,30,30);
border:1px solid rgb(30,30,30);
color:rgb(225,225,225);
}

hr {
background:rgb(100,100,100);
}

fieldset {
background:rgb(50,50,50);
border:1px solid rgb(10,10,10);
color:rgb(225,225,225);
}

fieldset:hover,fieldset:focus {
background:rgb(80,80,80);
border:1px solid rgb(100,100,100);
color:rgb(245,245,245);
}

input {
background:rgb(100,100,100);
border:1px solid rgb(50,50,50);
color:rgb(225,225,225);
}

input:hover {
background:rgb(150,150,150);
border:1px solid rgb(70,70,70);
color:rgb(245,245,245);
}

input:active {
background:rgb(175,175,175);
border:1px solid rgb(80,80,80);
color:rgb(255,255,255);
}
