body {
background:rgb(240,240,240);
}

div.header {
color:rgb(225,225,225);
}

a.light,a.light:visited {
color:rgb(40,40,40);
}

a.light:hover,a.light:active {
background:rgb(225,225,225);
border:1px solid rgb(225,225,225);
color:rgb(30,30,30);
}

a.dark,a.dark:visited {
color:rgb(40,40,40);
}

a.dark:hover,a.dark:active {
background:rgb(30,30,30);
border:1px solid rgb(30,30,30);
color:rgb(225,225,225);
}

hr {
background:rgb(0,0,0);
}

fieldset {
background:rgb(175,175,175);
border:1px solid rgb(50,50,50);
}

fieldset:hover,fieldset:focus {
background:rgb(165,165,165);
border:1px solid rgb(40,40,40);
}

input {
background:rgb(225,225,225);
border:1px solid rgb(150,150,150);
}

input:hover {
background:rgb(205,205,205);
border:1px solid rgb(130,130,130);
}

input:active {
background:rgb(185,185,185);
border:1px solid rgb(110,110,110);
}

a.trendlinePoints,a.trendlinePoints:visited {
background:rgb(225,225,225);
border:1px solid rgb(150,150,150);
color:rgb(0,0,0);
}

a.trendlinePoints:hover {
background:rgb(205,205,205);
border:1px solid rgb(130,130,130);
}

a.trendlinePoints:active {
background:rgb(185,185,185);
border:1px solid rgb(110,110,110);
}
