@font-face {
font-family:"wf_segoe-ui_light";
src:url(//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot);
src:local("Segoe UI Light"),local("Segoe WP Light"),url(//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot?#iefix) format("embedded-opentype"),url(//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),url(//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype"),url(//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.svg#web) format("svg");
font-weight:400;
font-style:normal

}

@font-face {
font-family:"wf_segoe-ui_normal";
src:url(//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot);
src:local("Segoe UI"),local("Segoe"),local("Segoe WP"),url(//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot?#iefix) format("embedded-opentype"),url(//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),url(//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype"),url(//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.svg#web) format("svg");
font-weight:400;
font-style:normal

}

@font-face {
font-family:"wf_segoe-ui_Semibold";
src:url(//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.eot);
src:local("Segoe UI Semibold"),local("Segoe Semibold"),local("Segoe WP Semibold"),url(//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.eot?#iefix) format("embedded-opentype"),url(//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.woff) format("woff"),url(//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.ttf) format("truetype"),url(//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.svg#web) format("svg");
font-weight:400;
font-style:normal

}

@font-face {
font-family:"wf_icons_normal";
src:url(//i.s-microsoft.com/fonts/icons/homepage/normal/2.eot);
src:url(//i.s-microsoft.com/fonts/icons/homepage/normal/2.eot?#iefix) format("embedded-opentype"),url(//i.s-microsoft.com/fonts/icons/homepage/normal/2.woff) format("woff"),url(//i.s-microsoft.com/fonts/icons/homepage/normal/2.ttf) format("truetype"),url(//i.s-microsoft.com/fonts/icons/homepage/normal/2.svg#web) format("svg");
font-weight:400;
font-style:normal

}

body {
background:#dcdcdc
}

#title {
position:fixed;
left:0;
top:0;
width:100%;
height:90px;
padding-top:10px;
padding-left:100px;
font:50px wf_segoe-ui_Semibold;
background:#64ff64
}

#titletransparent {
position:fixed;
left:0;
top:80px;
height:10px;
width:100%;
background:rgba(0,100,0,.5)
}

#navbar {
position:fixed;
left:0;
padding-top:0;
top:90px;
height:40px;
padding-left:80px;
width:100%;
font:30px wf_segoe-ui_normal;
background:#006400
}

#main {
position:absolute;
top:130px;
width:100%-15px;
padding:15px;
left:0;
font:130% wf_segoe-ui_normal;
background:#fff
}

#footer {
z-index:2;
position:absolute;
width:100%;
padding:15px;
left:0;
padding:0;
height:60px;
font:90% wf_segoe-ui_normal;
background:#c8c8c8
}

table {
width:100%
}

table,th,td {
border:1px solid #000;
border-collapse:collapse
}

th,td {
padding:5px;
text-align:left
}

table tr:nth-child(even) {
background:#c8c8c8
}

table tr:nth-child(odd) {
background:#fafafa
}

table th {
color:#fafafa;
background:#646464
}

button,input {
border:1px solid #bebebe;
transition-property:background-color;
-webkit-transition-property:background-color;
-moz-transition-property:background-color;
-o-transition-property:background-color;
transition-duration:.4s;
-webkit-transition-duration:.4s;
-moz-transition-duration:.4s;
-o-transition-duration:.4s;
background:#e6e6e6
}

button:hover,input:hover {
border:1px solid #a0a0a0;
background:#c8c8c8
}

button:active,input:active {
border:1px solid #8c8c8c;
background:#b4b4b4
}

a:link,a:visited {
color:#0f87d2;
transition-property:color;
-webkit-transition-property:color;
-moz-transition-property:color;
-o-transition-property:color;
transition-duration:.4s;
-webkit-transition-duration:.4s;
-moz-transition-duration:.4s;
-o-transition-duration:.4s;
text-decoration:underline
}

a:hover,a:active {
color:#a041eb
}

a.nav:link,a.nav:visited {
color:#000;
text-decoration:none;
padding-left:20px
}

a.nav:active,a.nav:hover {
color:#000
}
